<p *ngIf="!step"><em>Loading...</em></p>
<div *ngIf="step">
    <div class="content-header">
        Diploma Application
    </div>
    <div class="content-body">
        <p></p>
        <p>
            <span class="keyword">Task:</span><br> A diploma application notification will be sent to you via your
            olemiss.edu email. Complete the online Diploma Application. </p>
        <p>This email comes from the registrar@olemiss.edu and
            once you start filling out the application, you cannot stop and return.
        </p>
        <p>
            If you have a problem, contact the supervisor of records at the Graduate School, Robin Wiebe Bourgeois.
            rawiebe@olemiss.edu
        </p>
        <p><span class="keyword">Deadline:</span><br> {{deadline}}</p>
        <p></p>
        <p><button (click)='toggleStatus()' [ngClass]="(step.status) ? 'btn btn-success' : 'btn btn-danger'">{{statusText}}</button></p>
    </div>
</div>