<p *ngIf="!step"><em>Loading...</em></p>
<div *ngIf="step">
    <div class="content-header">
        Pay Fees to ProQuest/UMI
    </div>
    <div class="content-body">
        <p></p>
        <div>
            <span class="keyword">Task:</span><br> While uploading your thesis/dissertation, 
            you must pay (online via credit card) the fees for the ProQuest/UMI publishing type you have selected (e.g., no charge for Traditional publishing; 
            $95 for Open Access publishing). Note that there are extra fees for copyright registration ($55) and producing bound copies ($56 apiece).
        </div>
        <p></p>
        <p *ngIf="unsetDate"><span class="keyword">Deadline:</span><br>This deadline has not been updated by an administrator</p>
        <p *ngIf="!unsetDate"><span class="keyword">Deadline:</span><br>{{step.deadline | date:'MM/dd/yyyy'}}</p>
        
        <p></p>
        <p><button (click)='toggleStatus()' [ngClass]="(step.status) ? 'btn btn-success' : 'btn btn-danger'">{{statusText}}</button></p>
    </div>
</div>