<div class="content-header">
    Application for Graduate Degree
</div>
<div class="content-body">
    <p></p>
    <p>
        <span class="keyword">Task:</span><br> You must fill out a GS-8, Application for Graduate Degree Form. This form must be signed by you, and the dean of the department. 
        This form must then be turned in to the graduate school.
    </p>
    <p><span class="keyword">Deadline:</span><br> {{deadline}}</p>
    <p><span class="keyword">Form:</span><br> <a href="/pdf/gs8" target="_blank">GS-8: Application for Graduate Degree</a></p>
    <p></p>
</div>
<div>
    <app-footer></app-footer>
</div>