:host {
    display: block;
}

.footer-outer {
    display: flex;
    overflow-x: scroll;
}

.footer-step {
    padding: 10px;
    margin: 10px;
    min-width: 140px;
}

.footer-div {
    display: flex;
    float: left;
    flex-grow: 1;
}

.footer-arrow {
    display: flex;
    float: left;
    align-items: center;
}

.footer-arrow span {
    display: inline-block;
    vertical-align: middle;
}

.complete {
    background-color: rgb(116, 221, 116);
    border: 2px solid rgb(24, 192, 24);

}

.incomplete {
    background-color: rgb(233, 89, 89);
    border: 2px solid rgb(197, 31, 31);

}