<div class="nav-side-menu">
  <div class="brand">Graduation Guideline</div>
      
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse">

      <li class="active">
        <a [routerLink]='["/"]' class="menu-item">Home</a>
      </li>


      <li>
        <a [routerLink]='["/account"]'>Account</a>
      </li>

      <li>
        <a [routerLink]='["/steps"]'>Steps</a>
      </li>
    </ul>
  </div>
</div>